name: "Validate PHP Code Standards"
on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/phpcs.yml"
jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0 # important!
      - name: Cache Composer dependencies
        uses: actions/cache@v2.1.8
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - name: Install composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 7.3
          version: 2
          dev: yes
          quiet: yes
          args: --optimize-autoloader --classmap-authoritative --prefer-dist
      - uses: tinovyatkin/action-php-codesniffer@v1
        with:
          files: "**.php" # you may customize glob as needed
          phpcs_path: ./vendor/bin/phpcs
          standard: "phpcs.xml"
